<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_user"
    android:targetSandboxVersion="1">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/playstore_icon"
        android:label="배달ONE"
        android:networkSecurityConfig="@xml/security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity
            android:name="com.example.app_user.util_dir.SplashActivity"
            android:screenOrientation="portrait"
            android:label="배달ONE"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.app_user.home_dir.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.example.app_user.draw_dir.OldOrderlistDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.example.app_user.home_dir.FirstMainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.example.app_user.home_dir.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.example.app_user.util_dir.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.example.app_user.order_dir.SubMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.example.app_user.people_dir.PartyDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.example.app_user.util_dir.LoginActivity"/>
        <activity android:name="com.example.app_user.util_dir.RegisterActivity"/>
    </application>

</manifest>