<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_user"
    android:targetSandboxVersion="1">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/playstore_icon"
        android:label="배달ONE"
        android:networkSecurityConfig="@xml/security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".util_dir.SplashActivity"
            android:label="배달ONE"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home_dir.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".draw_dir.OldOrderlistDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".home_dir.FirstMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".home_dir.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".order_dir.SubMenuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".people_dir.PartyDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".home_dir.SearchMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".util_dir.LoginActivity" />
        <activity android:name=".util_dir.RegisterActivity" />
        <activity android:name=".util_dir.CreditActivity" />

        <activity android:name=".draw_dir.GpsActivity" />
    </application>

</manifest>