<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_delivery"
    android:targetSandboxVersion="1">

    <uses-permission android:name="android.permission.INTERNET">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION">
    </uses-permission>
    <meta-data android:name="com.kakao.sdk.AppKey" android:value="ff3d392fa867adc9061e61c7c9c0f8de"/>

    <application
        android:networkSecurityConfig="@xml/security_config"
        android:allowBackup="true"
        android:icon="@drawable/playstore_icon"
        android:label="배달ONE-Rider"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:label="배달ONE-Rider"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".MapActivity"></activity>
        <activity android:name=".Delivery_list_Activity"></activity>
        <activity android:name=".Delivery_to_Store_Activity"></activity>


    </application>

</manifest>